
[submodule "vie/rfp-grasp-transfer"]
	path = vie/rfp-grasp-transfer
	url = https://github.com/IRVLUTD/rfp-grasp-transfer.git

[submodule "vie/BundleSDF"]
	path = vie/BundleSDF
	url = https://github.com/jishnujayakumar/BundleSDF
[submodule "dytto"]
	path = dytto
	url = https://github.com/IRVLUTD/trajectory-tracking-optimization
	branch = ros1
