scipy
casadi
urdf-parser-py
osqp
cvxopt
xacro
vtk
pyyaml
opencv-python
trimesh==4.1.0
scikit-image
scikit-learn
transforms3d
defusedxml
catkin_pkg
rospkg
lxml
Pillow
empy==3.3.4
pycollada

numpy==1.23.3 # 1.26.4
toppra
open3d

tqdm
plotly
pytorch_kinematics
numpy-quaternion