# -------------------
# Robokit
# -------------------
chardet
requests
tqdm
ftfy
regex
torch
torchvision
absl-py
open3d
scikit-image
numpy==1.26.4
supervision==0.18.0
rospkg
transforms3d
pyrender

# -------------------
# HumanPoseHandBoxes
# -------------------
mediapipe

# -------------------
# Hamer
# -------------------
mmpose
mmengine

# -------------------
# rfp-grasp-transfer
# -------------------
plotly
pytorch_kinematics
numpy-quaternion

# -------------------
# rfp-grasp-transfer
# -------------------
networkx #==3.4.2
